/* -----------poke spot  */
.pokemonEl {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0 0 0;
}

.pokemon__nameNum {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 4rem;
}

.nameAndType {
  display: flex;
  flex-direction: column;
}
.nameAndType__h2 {
  font-size: clamp(0.8rem, 2vw, 1.5rem);
}
.nameAndType-data {
  margin-top: 0.7rem;
  display: flex;
}
.nameAndType-data span:nth-child(2) {
  margin-left: 1rem;
}
.nameAndType-data span {
  background-color: var(--pokedex-purple);
  font-size: clamp(0.6rem, 1vw, 1.1rem);
  padding: 0.3em 1.5em 0.5em 1.5em;
  border-radius: 5rem;
}

.pokemon__nameNum h2 {
  text-transform: uppercase;
}

.pokemon__image-container {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -0.5rem;
  margin-bottom: -1.5rem;
}

.pokemonImg-container {
  width: 20%;
  height: auto;
}
.pokemonImg {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.pokemon__info {
  background-color: #fbf7ff;
  border-radius: 5rem 5rem 2rem 2rem;
  padding: 2rem 1rem;
  width: 100%;
}

.pokemon__btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pokemon__btn {
  font-size: clamp(0.2rem, 2vw, 1rem);

  padding: 1em 2em;
  width: max(25%, 20%);
  border: none;
  background: none;
  color: var(--pokedex-color-unclicked);
}
.pokemon__btn-colorClicked {
  color: var(--pokedex-color-clicked);
}

.pokemon__hidden {
  display: none;
}

/* .pokespot__toggle-view {
  width: 15%;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--pokedex-blue-soft);
  box-shadow: 1px 2px 2px var(--pokedex-blue);
} */
/* .pokespot__toggle-view:hover {
  box-shadow: 1px 2px 2px var(--pokedex-blue) inset;
} */
/* -----------pokemon details  */
.pokemon__details {
  display: flex;
  flex-direction: column;
}
.pokemon__flavor {
  text-align: center;
  width: 100%;
  padding: 0 1rem;
  margin: auto;
}

.pokemon__flavor {
  width: 70%;
}
.pokemon__flavor-text {
  font-size: clamp(0.2rem, 2vw, 1rem);
  font-weight: bold;
  font-style: italic;
  color: var(--pokedex-color-clicked);
}

.pokemon__info {
  width: 100%;
  height: auto;
}
.pokemon__info-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  width: 100%;
  margin-top: clamp(0rem, 5vw, 3rem);
}

/* ------------detail  */
.pokemon__detail-section {
  width: 100%;
  padding: 1rem 2rem;
}
.pokemon__info-table th,
.pokemon__info-table td,
.pokemon__breeding-table th,
.pokemon__breeding-table td {
  font-size: clamp(0.4rem, 2vw, 1rem) !important;
}
.pokemon__info-table,
.pokemon__breeding-table {
  text-align: left;
}

.pokemon__info-table th,
.pokemon__breeding-table th {
  padding-right: 3rem;
  text-transform: uppercase;
  color: var(--pokedex-color-unclicked);
}
.pokemon__info-table th {
  width: 20%;
}
.pokemon__breeding-table th {
  width: min(50%, 10%);
}
.pokemon__info-table td,
.pokemon__breeding-table td {
  display: flex;
  padding: 0.5rem 0;
}

.pokemon__info-table p:nth-child(2) {
  margin-left: 1rem;
}

/* ----------------stats section */

.pokemon__stats {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(207, 206, 206, 0.331);
  width: 100%;
}
.pokemon__stats-headline {
  font-size: var(--pokedex-font-size);
}
.pokemon__stats-para {
  font-size: var(--pokedex-font-size-small);
}
.pokemon__stats-row {
  display: flex;
  margin-bottom: 0.2rem;
}
.pokemon__stats-type {
  text-align: start;
  padding-right: 1rem;
  width: 30%;
  font-weight: bold;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.pokemon__stats-data-container {
  width: 70%;
  border-right: 3px solid var(--pokedex-purple);
  border-radius: 0 0.2rem 0 0;
  padding-right: 1rem;
}

.pokemon__stats-data {
  font-size: 0.6rem;
  color: white;
  border-radius: 0 0.4rem 0 0;
  padding: 0.4rem 0 0.2rem 0.2rem;
}

.pokemon__stats-row:nth-child(even) .pokemon__stats-data {
  background-color: var(--pokedex-purple);
}
.pokemon__stats-row:nth-child(odd) .pokemon__stats-data {
  background-color: var(--pokedex-purple-soft);
  color: var(--pokedex-purple);
}

/* --------evolution section  */

.pokemon__evolution-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: auto;
}
.pokemon__evolution-link {
  text-decoration: none;
  font-size: clamp(0.5rem, 2vw, 0.8rem);
  color: var(--pokedex-color-clicked);
}
.pokemon__evolution-imgContainer {
  width: 40%;
  height: auto;
  margin: auto;
}
.pokemon__evolution-img {
  width: 100%;
}

/* ------------moves  */
.pokemon__moves {
  width: 100%;
}
.pokemon__moves-section {
  display: flex;
  width: 100%;
}
.pokemon__moves-list {
  width: 60%;
}
.pokemon__moves-ul {
  column-count: 3;
}
.pokemon__moves-view {
  width: 40%;
}

@media (max-width: 800px) {
  .pokemon__details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pokemon__stats {
    width: 100%;
  }

  .pokemon__flavor {
    width: 100%;
    padding: 2rem 1rem;
  }
}
