@import "./critical.css";
@import "./index.css";
@import "./details.css";
@import "./layout.css";

/* --------layout  */

.pokedex__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.pokedex__info,
.pokedex__pokemon {
  display: flex;
  flex-direction: column;
}
